.idcard {
  display: grid;
  grid-template-columns: 120px 1fr; 
  column-gap: 12px;
  row-gap: 4px;                     

  border: 1px solid #000;
  padding: 12px;
  margin: 12px 0;
}

.idcard img {
  grid-column: 1;
  grid-row: 1 / span 5;             
  width: 120px; height: 120px; object-fit: cover;
}

.idcard p {
  grid-column: 2;
  margin: 0;                        
  line-height: 1.2;
}
